@model AplicacionPrueba.Models.LoginView

<link rel="stylesheet" href="~/css/stylePlus.css" />
<center>
    <div class="wrap-login100">
        <div class="login100-form-title"
            style="background-image: url(https://colorlib.com/etc/lf/Login_v15/images/bg-01.jpg);">
            <span class="login100-form-title-1">
                Login Usuarios
            </span>
        </div>
        <form asp-controller="Usuario" asp-action="Login" class="login100-form validate-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="wrap-input100 validate-input m-b-26" >
                <span class="label-input100">Username</span>
                <input class="input100" asp-for="Usuario" placeholder="Ingresa E-mail">
                <span asp-validation-for="Usuario" class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-18" >
                <span class="label-input100">Password</span>
                <input class="input100" asp-for="Clave" placeholder="***********">
                <span asp-validation-for="Clave" class="focus-input100"></span>
            </div>
            <div class="flex-sb-m w-full p-b-30">
                
                <div>
                    <a class="nav-link text-blue" asp-area="" asp-controller="Usuario" asp-action="RecuperaPass">
                        Olvidaste tu Contraseña?
                    </a>
                </div>
            </div>
            <div class="container-login100-form-btn">
                <input type="submit" value="Entrar" class="login100-form-btn">
            </div>
        </form>
    </div>
</center>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}