@{
    ViewData["Title"] = "Bienvenido";
 }

 <div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
</div>

 @if(!User.Identity.IsAuthenticated)
 {
     await Html.RenderPartialAsync("_Login", new LoginView());
 }
 else
 {

<div class="col">
                <div class="card">
                    <img src="https://mdbootstrap.com/img/new/standard/city/043.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <center>
                        <h3 class="card-title">Tu espacio de Negocios</h3>
                        </center>
                    </div>
                </div>
</div>
 }